ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}
li{
    float: right;
}
li a{
    display: block;
    padding: 10px;
    color: black;
}
li a:hover{
    text-decoration: none;
    color: blue;
}