body{
    background-image: url(../css/imagine/troll.gif);
    background-repeat:no-repeat;
    margin-top: 200px;   
}
p{
    color: aqua;
}
p.dotted{
    border: dotted;
    border-color: aquamarine;
}
p.dashed{
    border: dashed;
    border-color: beige;
}
p.solid{
    border: solid;
    border-color: brown;
    border-width: thick;
}
p.double{
    border: double
}
p.groove{
    border: groove;
}
p.ridge{
    border: ridge;
}
p.inset{
    border: inset;
}
p.outset{
    border: outset;
}
p.none{
    border: none;
}
p.hidden{
    border: hidden;
}