body{
    background-color: aqua;
    text-decoration: none;
}
h1{
    margin: 50px;
    border: solid 10px  red;
    color: brown;
    text-align: center;
}
p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
img{
    width: 70%;
    height: 70%;
}
