body{
    padding: 0px;
    margin: 0px;
    background-color: rgba(165, 163, 163, 0.692);
}
#ImageNamePage{
    background-image: url(Images/Banner.jpg);
    width: 100%;
    height: 120px;
}
#NamePage{
    position: relative;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
    top: 20px;
    left: 5em;
    margin-top: 0px;
}
#link{
    display: flex;
    margin-left: 100px;
    list-style: none;
}
#link li{
    background-color: white;
    color: black;
    margin-left: 20px;
    width: 60px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
}
#list li a {
    text-decoration: none;
    color: :black;
}